{% extends 'base.html' %}

{% block page_content %}

    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    {% for typeinfo in typeinfos %}
                        <li><a href="/list/{{ typeinfo.id }}/1/1"
                               class="{{ typeinfo.class_name }}">{{ typeinfo.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">{{ type_info.name }}</a>
        {% if title == "商品详情" %}
            <span>></span>
            <a href="#">商品详情</a>
        {% endif %}

    </div>

    {% block detail %}

    {% endblock %}

{% endblock %}