{% extends 'base_footer.html' %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery-form.min.js"></script>
    <script>
        $(function () {
            var error_name = false;
            var error_password = false;

            $(".name_input").blur(function () {
                check_user_name();

            });

            $(".pass_input").blur(function () {
                check_pwd();
            });

            $(".input_submit").click(function () {
                check_user_name();
                check_pwd();
                if (error_name || error_password) {
                    return false;
                } else {
                    $("#login_form").ajaxSubmit({
                        url: "/user/process_login",
                        type: "post",
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: function (msg) {
                            if (msg.user_error == "1") {
                                $(".user_error").html("用户名不存在").show();
                            } else if (msg.pwd_error == "1") {
                                $(".pwd_error").html("密码错误").show();
                            } else {
                                window.location.href = "/" + eval(getCookie("url")).substring(1)
                            }
                        }
                    });

                }
            });


            function check_user_name() {
                if ($(".name_input").val() == "") {
                    error_name = true
                    $(".user_error").html("请输入用户名").show();
                } else {
                    error_name = false;
                    $(".user_error").hide();
                }
            }

            function check_pwd() {
                if ($(".pass_input").val() == "") {
                    error_password = true;
                    $(".pwd_error").html("请输入密码").show();
                } else {
                    error_password = false
                    $(".pwd_error").hide();
                }
            }
        })

        //获得coolie 的值
        function getCookie(name) {
            var strcookie = document.cookie;//获取cookie字符串
            var arrcookie = strcookie.split("; ");//分割
            //遍历匹配
            for (var i = 0; i < arrcookie.length; i++) {
                var arr = arrcookie[i].split("=");
                if (arr[0] == name) {
                    return arr[1];
                }
            }
            return "";
        }
    </script>
{% endblock %}
{% block content %}

    <div class="login_top clearfix">
        <a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
    </div>

    <div class="login_form_bg">
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="slogan fl">日夜兼程 · 急速送达</div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <h1>用户登录</h1>
                    <a href="/user/register">立即注册</a>
                </div>
                <div class="form_input">
                    <form id="login_form">
                        <input type="text" name="username" class="name_input" value="{{ user_name }}"
                               placeholder="请输入用户名">
                        <div class="user_error">输入错误</div>
                        <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
                        <div class="pwd_error">输入错误</div>
                        <div class="more_input clearfix">
                            <input type="checkbox" name="remeber" value="1">
                            <label>记住用户名</label>
                            <a href="#">忘记密码</a>
                        </div>
                        <input type="button" name="" value="登录" class="input_submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
